html {
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

/*Utility Classes*/
.contanier{
    width:70vw;
    margin:40px auto;
}


/* Global Styles */
/*Color Scheme: 
Primary - #8BC5E8*/

body{
    font-family: 'Smooch Sans', sans-serif;
    margin:0;
  background-color:#000000;
    /*background-image:url("../img/grey-background.jpg")*/
}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.home  {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a  {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; 
    margin: 0; 
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover {
    background-color: red;
  }
header.primary {
    background-color:#1b1b1b;
    text-align:center;
    /*color:#;*/
    padding:20px;
    text-shadow: 2px 1px #000000;

    /*SVG*/
    background-image: url(dragon/assets/img/space.x.logo.jpg)
}
header h1{
    font: 16px/24px D-DIN-Medium,Arial,Verdana,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    color: #ffffff;
  float:left;
}
ul{
	float:right;
  color:#ffffff;
	
}
header.primary h1 {
    font-size: 2rem;
    margin: 20px 0;
}
header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}
body h2{
    font:"Motiva Sans";
    font-size: 1.4rem;
    text-align:center;
  color:#ffffff;
}
body p{
  color:#D1C6CF;
}
table{
  color:#ffffff;
}
h3{
  color:#ffffff;
}
